/*Header*/ 
header {
    background-color: grey;
}

/*Logo Header*/
.listaLogoHeader img {
    width: 90px;
    height: auto;
    margin: 20px;
}

.listaItemsHeader a {
    text-decoration: none;
    color: lavenderblush;
    }

.listaItemsHeader ul {
color: lightpink;
}

/*Body*/
p {
    color: rgb(110, 120, 131);
}

video {
    width: 320px;
    height: auto;
    margin-left: 38%;
}

/*Tienda*/
h1{
    color: rgb(82, 81, 81);
}

        /*Lista*/
table, td, th {
border: 1px solid #ddd;
}
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    padding: 15px;
}
tr:hover {
    background-color: lightslategrey;
}