body {
    margin: 0;
    padding: 0;
}

.listaPrecios {
    color: rgb(82, 81, 81);
    font-family: "Montserrat", sans-serif;
    font-weight:400 ;
    text-align: center;
}

h3 { 
    color: rgb(82, 81, 81);
    font-family: "Montserrat", sans-serif;
    font-weight:400 ;
}

.precio {
    color: rgb(82, 81, 81);
    font-family: "Montserrat", sans-serif;
    font-weight:200 ;
}


.item__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .item__list__product {
        margin: 15px;
        padding: 2px 16px;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        background-color: white;
    }
    
    .item__list__product {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
    
    .item__list__product img {
        width: 300px;
    }
    
    .item__list__product h1 {
        margin-bottom: 10px;
        margin-left: 15px;
    }
    .item__list__button {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50; /* Green */
        transition-duration: 0.4s;
        position: absolute;
        right: 15px;
        bottom: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight:400 ;
        font-size: 16px;
        text-align: center;
        border-radius: 8px;
        padding: 10px 20px;
        transition-duration: 0.4s;
    }
    
    .item__list__button:hover {
        background-color: #4CAF50; /* Green */
        color: white;
    } 
}



